*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.clearfix:after{
    content:"";
    display: table;
    clear:both;
}
body{ 
    font-family: Helvetica Neue, Arial;
    font-size: 15px;
}
h1,h2{
    color:#5d835a;
}
h1{ 
    font-size :40px;
    margin-bottom: 20px;
}

h2{ 
    font-size :25px; 
    margin-bottom: 10px;
}


.main-text{
    text-align: justify;
    margin-bottom: 20px;
}

.author-text{
    font-size: 22px;
    float: left;
    margin-top: 30px;
    margin-left: 20px
}
.container {
    width: 1140px;
    margin:20px auto 0 auto; 
}

.blog-post { 
    width: 75%;
    float: left;
    padding-right: 30px;
    position: relative;
}

.other-posts { 
    width: 25%;
    float: left;
}

.author-box {
    border-top:1px solid #525252;
    padding-top: 20px;
}

.other {
    margin-bottom: 40px;
}

.author-box img{
    height: 100px;
    width: 100px;
    float: left;
    border-radius: 50%;
} 
.blog-post img{
    height: 150px;
    width: auto;
    margin-bottom: 20px;
}
.date{
    position: absolute;
    top:0;
    right: 30px;
}